<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.GEO</key>
	<dict>
		<key>AllowGTSuggestionForGTHandles</key>
		<true/>
		<key>AllowResumingIncompleteResourceDownloads</key>
		<false/>
		<key>AllowWalkingRouteSuggestionForGTHandles</key>
		<true/>
		<key>BellflowerPlaceCard</key>
		<true/>
		<key>BrooklynEnableSharingForAllGuides</key>
		<true/>
		<key>CLAppleCollectionServer_Altimeter</key>
		<string>https://gsp10-ssl.ls.apple.com/hvr/alt</string>
		<key>CLRealTimeBudgetBytesDefault</key>
		<integer>838860</integer>
		<key>CLTrafficCrowdsourceRules</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Realtime</key>
				<dict>
					<key>HarvestInterval</key>
					<integer>1</integer>
					<key>HarvesterEnabled</key>
					<true/>
					<key>UploadInterval</key>
					<integer>120</integer>
				</dict>
			</dict>
		</dict>
		<key>CarPlayShouldUseCPMetadataSPIs</key>
		<true/>
		<key>CellSaverRegionDownloadEnabled</key>
		<false/>
		<key>CellSaverStaleThresholdInSeconds</key>
		<integer>864000</integer>
		<key>CellSaverTileTypeEnabled.13</key>
		<false/>
		<key>CellSaverTileTypeEnabled.37</key>
		<false/>
		<key>CellSaverTileTypeEnabled.53</key>
		<true/>
		<key>CellSaverTileTypeEnabled.54</key>
		<true/>
		<key>CohortReportingThresholds</key>
		<dict>
			<key>optInPercent</key>
			<real>0.01</real>
			<key>rollDate</key>
			<integer>120</integer>
		</dict>
		<key>CongestionZonesEnabled</key>
		<true/>
		<key>CountryProviders</key>
		<dict>
			<key>AF</key>
			<dict>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>AL</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
				<key>SupportsCarIntegration</key>
				<true/>
			</dict>
			<key>AM</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>AR</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>AT</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>AU</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>BA</key>
			<dict>
				<key>SupportsCarIntegration</key>
				<true/>
			</dict>
			<key>BD</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>BE</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>BG</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>BO</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>BR</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>BT</key>
			<dict>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>BY</key>
			<dict>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>CA</key>
			<dict>
				<key>ClimateShowAirQualityIndex</key>
				<true/>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>CH</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>CI</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>CN</key>
			<dict>
				<key>CLAppleCollectionServer_Altimeter</key>
				<string>https://gsp10-ssl-cn.ls.apple.com/hvr/alt</string>
				<key>CLAppleCollectionServer_CellWifi</key>
				<string>https://gsp10-ssl-cn.ls.apple.com/cw</string>
				<key>CLAppleCollectionServer_Indoor</key>
				<string>https://gsp10-ssl-cn.ls.apple.com/incs</string>
				<key>CLAppleLocationServer</key>
				<string>https://gs-loc-cn.apple.com/clls/wloc</string>
				<key>CLCdmaTileServer</key>
				<string>https://cl2-cn.apple.com/5/v1</string>
				<key>CLCoarseCdmaTileServer</key>
				<string>https://cl2-cn.apple.com/8/v1</string>
				<key>CLCoarseGsmTileServer</key>
				<string>https://cl2-cn.apple.com/6/v1</string>
				<key>CLCoarseLteTileServer</key>
				<string>https://cl2-cn.apple.com/7/v1</string>
				<key>CLCoarseNrTileServer</key>
				<string>https://cl2-cn.apple.com/11/v1</string>
				<key>CLGsmTileServer</key>
				<string>https://cl2-cn.apple.com/3/v1</string>
				<key>CLLteTileServer</key>
				<string>https://cl2-cn.apple.com/4/v1</string>
				<key>CLPipelineAvailabilityServer</key>
				<string>https://cl4-cn.apple.com/2/m2/a.1</string>
				<key>CLPipelineTileServer</key>
				<string>https://cl4-cn.apple.com/</string>
				<key>CLRealTimeBudgetBytesDefault</key>
				<integer>262144</integer>
				<key>CLTransitTileServer</key>
				<string>https://cl2-cn.apple.com/9/v2</string>
				<key>CLWifiTileServer</key>
				<string>https://cl2-cn.apple.com/1/v1</string>
				<key>ClimateShowAirQualityIndex</key>
				<true/>
				<key>DrivingMultiWaypointRoutesEnabled</key>
				<true/>
				<key>EnableAlberta</key>
				<true/>
				<key>EnableClientDrapedVectorPolygons</key>
				<true/>
				<key>GEOAddressCorrectionEnabled</key>
				<false/>
				<key>GEOBatchSpatialEventLookupMaxParametersCount</key>
				<integer>0</integer>
				<key>GEOBatchSpatialPlaceLookupMaxParametersCount</key>
				<integer>0</integer>
				<key>GEOGeocoderIsEncrypted</key>
				<false/>
				<key>GEOShouldPassABAssignInfo</key>
				<false/>
				<key>GEOShouldPassABClientMetadata</key>
				<true/>
				<key>GEOVoltaireSearchURLProviderID</key>
				<integer>57879</integer>
				<key>LocalitiesAndLandmarksSupported</key>
				<false/>
				<key>NavigationShowHeadingKey</key>
				<true/>
				<key>POIBusynessDifferentialPrivacy</key>
				<false/>
				<key>POIBusynessRealTime</key>
				<false/>
				<key>PedestrianAREnabled</key>
				<false/>
				<key>SupportsOffline</key>
				<false/>
				<key>TransitDatePickerHorizonDuration</key>
				<integer>604800</integer>
				<key>WiFiQualityNetworkDisabled</key>
				<false/>
				<key>WiFiQualitySmallSearchRadiusMeters</key>
				<real>1000.0</real>
				<key>WiFiQualityTileDisabled</key>
				<false/>
				<key>WifiQualitySearchRadiusMeters</key>
				<real>1000.0</real>
			</dict>
			<key>CO</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>CR</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>CU</key>
			<dict>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>CY</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>CZ</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>DE</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>DK</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>DO</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>EC</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>EE</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>ES</key>
			<dict>
				<key>ClimateShowAirQualityIndex</key>
				<true/>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>FI</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>FR</key>
			<dict>
				<key>ClimateShowAirQualityIndex</key>
				<true/>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>GB</key>
			<dict>
				<key>ClimateShowAirQualityIndex</key>
				<true/>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>GE</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>GH</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>GR</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>GT</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>HK</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>HN</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>HR</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>HU</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>ID</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>IE</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>IL</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<false/>
			</dict>
			<key>IN</key>
			<dict>
				<key>ClimateShowAirQualityIndex</key>
				<true/>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>IR</key>
			<dict>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>IS</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>IT</key>
			<dict>
				<key>ClimateShowAirQualityIndex</key>
				<true/>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>JM</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>JP</key>
			<dict>
				<key>GEODefaultMapMode</key>
				<integer>3</integer>
				<key>PreferredTransportType</key>
				<integer>2</integer>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>KH</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>KP</key>
			<dict>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>KR</key>
			<dict>
				<key>ClimateShowAirQualityIndex</key>
				<true/>
				<key>GEOAddressCorrectionEnabled</key>
				<false/>
				<key>GEOVoltaireResourceManifestURL</key>
				<string>https://gspe35-kr-ssl.ls.apple.com/geo_manifest/dynamic/config%{DEVICE_QUERY}</string>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>KW</key>
			<dict>
				<key>SupportsCarIntegration</key>
				<true/>
			</dict>
			<key>KZ</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>LA</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>LI</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>LK</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>LT</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>LU</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>LV</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>LY</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>MC</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>MD</key>
			<dict>
				<key>SupportsCarIntegration</key>
				<true/>
			</dict>
			<key>ME</key>
			<dict>
				<key>SupportsCarIntegration</key>
				<true/>
			</dict>
			<key>MK</key>
			<dict>
				<key>SupportsCarIntegration</key>
				<true/>
			</dict>
			<key>MM</key>
			<dict>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>MN</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>MO</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>MT</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>MX</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>MY</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>NG</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>NL</key>
			<dict>
				<key>ClimateShowAirQualityIndex</key>
				<true/>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>NO</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>NP</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>NZ</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>PE</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>PK</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>PL</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>PS</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<false/>
			</dict>
			<key>PT</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>PY</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>QA</key>
			<dict>
				<key>SupportsCarIntegration</key>
				<true/>
			</dict>
			<key>RE</key>
			<dict>
				<key>SupportsCarIntegration</key>
				<true/>
			</dict>
			<key>RO</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>RS</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
				<key>SupportsCarIntegration</key>
				<true/>
			</dict>
			<key>RU</key>
			<dict>
				<key>GEOShouldSpeakWrittenAddresses</key>
				<true/>
				<key>GEOShouldSpeakWrittenPlaceNames</key>
				<true/>
				<key>ReportAProblemAddressEditIsProhibited</key>
				<false/>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>SE</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>SG</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>SI</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>SK</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>SN</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>SY</key>
			<dict>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>TH</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>TW</key>
			<dict>
				<key>GEOShouldSpeakWrittenAddresses</key>
				<true/>
				<key>GEOShouldSpeakWrittenPlaceNames</key>
				<true/>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>UA</key>
			<dict>
				<key>SupportsOffline</key>
				<false/>
			</dict>
			<key>US</key>
			<dict>
				<key>6694982d2b14e95815e44e970235e230</key>
				<true/>
				<key>ClimateShowAirQualityIndex</key>
				<true/>
				<key>OpticalHeadingEnabled</key>
				<true/>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
				<key>UseCLPedestrianMapMatchedLocations</key>
				<true/>
			</dict>
			<key>UZ</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>VA</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>VN</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
			<key>ZA</key>
			<dict>
				<key>ShouldEnableLagunaBeach</key>
				<true/>
			</dict>
		</dict>
		<key>EVRoutingNameForBundleIDKey</key>
		<string>app_bundle_id</string>
		<key>EVRoutingNameForWhitelistKey</key>
		<string>siri_allowlist</string>
		<key>EVRoutingShouldShowBatteryPercentageInVehiclePickers</key>
		<true/>
		<key>ElevatedPolygonsEnabled</key>
		<true/>
		<key>EnableARPPhotoCreditOnPhotoSlider</key>
		<false/>
		<key>EnableBakersfield</key>
		<true/>
		<key>EnableClientDrapedVectorPolygons</key>
		<false/>
		<key>EnableDavisMode</key>
		<true/>
		<key>EnableEVRouting</key>
		<true/>
		<key>EnableWalkingExperience</key>
		<true/>
		<key>ExperimentMaxRefreshInterval</key>
		<integer>14400</integer>
		<key>FeatureFlags</key>
		<array>
			<string>MapsDawn</string>
			<string>MapsDisableWatermark</string>
		</array>
		<key>GEOAnalyticsPipelineHandlingPolicyType_AP_HANDLING_POLICY_LONG_STANDARD_config</key>
		<dict>
			<key>stages</key>
			<array>
				<dict>
					<key>ttl</key>
					<integer>900</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>ttl</key>
					<integer>604800</integer>
					<key>type</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>ttl</key>
			<integer>604800</integer>
		</dict>
		<key>GEOAnalyticsPipelineHandlingPolicyType_AP_HANDLING_POLICY_SHORT_STANDARD_config</key>
		<dict>
			<key>stages</key>
			<array>
				<dict>
					<key>ttl</key>
					<integer>900</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>ttl</key>
					<integer>604800</integer>
					<key>type</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>ttl</key>
			<integer>604800</integer>
		</dict>
		<key>GEOAnalyticsPipelineHandlingPolicyType_AP_HANDLING_POLICY_UGC_DELETE_NOTICE_config</key>
		<dict>
			<key>immediately</key>
			<true/>
			<key>stages</key>
			<array>
				<dict>
					<key>ttl</key>
					<integer>7776000</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>ttl</key>
			<real>7776000.0</real>
		</dict>
		<key>GEOBrooklynEnabled</key>
		<true/>
		<key>GEOLogMessageType_SESSIONLESS_USAGE_requirePower</key>
		<false/>
		<key>GEOLogMessageType_SESSIONLESS_USAGE_requireWifi</key>
		<false/>
		<key>GEOLogMessageType_SESSIONLESS_USAGE_sendImmediately</key>
		<true/>
		<key>GEOResourceManifestUpdateTimeInterval</key>
		<integer>28800</integer>
		<key>GEOShouldUseHTTPPipelining</key>
		<true/>
		<key>GEOSimpleTileRequesterMaxConcurrentRequests</key>
		<integer>1000</integer>
		<key>GeneralMapsWidgetMaximumSuggestionsRoutingRequestsPerDay</key>
		<integer>0</integer>
		<key>GeneralMapsWidgetNearbyCategoryCacheMaxAgeTimeInterval</key>
		<integer>604800</integer>
		<key>GeoAnalyticsEvent_directionsRequestDetails_disabled</key>
		<true/>
		<key>GeoAnalyticsEvent_networkEventTile_dropRate</key>
		<real>0.9</real>
		<key>GeoAnalyticsEvent_tileCacheHit_disabled</key>
		<true/>
		<key>GeoAnalyticsEvent_tileCacheMiss_disabled</key>
		<true/>
		<key>InstrumentClusterConnectionCameraStyleToggleEnabled</key>
		<false/>
		<key>LaunchFromURLDelayInSeconds</key>
		<real>3.0</real>
		<key>LocationShiftGridSizeDegrees</key>
		<real>0.0</real>
		<key>LogMsgPolicy_CompressForRealtimeProbe</key>
		<true/>
		<key>LogMsgPolicy_CompressForUsage</key>
		<true/>
		<key>MapsSuggestionsDistanceThresholdForWeatherUpdateKey</key>
		<real>500000.0</real>
		<key>MapsSuggestionsHotelImproverEnabledKey</key>
		<true/>
		<key>MapsSuggestionsNavigationTrackingTaskMinVisitsKey</key>
		<integer>10000000</integer>
		<key>MapsSuggestionsWeatherFeelerEnabledKey</key>
		<false/>
		<key>MuninRAPHideStoreLabels</key>
		<false/>
		<key>MuninRAPHideStreetLabels</key>
		<false/>
		<key>NavdAirportArrivalAnnouncerEnabledKey</key>
		<false/>
		<key>NavigationConfig_MPRDepartureDistanceFromWaypointPoints</key>
		<integer>250</integer>
		<key>POIBusynessBluePOIServiceRateLimitDaily</key>
		<integer>0</integer>
		<key>POIBusynessDifferentialPrivacy</key>
		<false/>
		<key>POIBusynessLeechedLocationHorizontalAccuracyThresholdInMeters</key>
		<real>80.0</real>
		<key>POIBusynessRadius</key>
		<integer>50</integer>
		<key>POIBusynessRateLimitDaily</key>
		<integer>59</integer>
		<key>POIBusynessRealTime</key>
		<true/>
		<key>PredExTrainingWeatherAllowed</key>
		<true/>
		<key>RAPEnableErrorAlertForReviewedReport</key>
		<false/>
		<key>RAPMaximumNumberOfSelectableCategories</key>
		<integer>20</integer>
		<key>ReportAProblemAddStreetFlowIsVisible</key>
		<true/>
		<key>RidesharingPickupLocationZoomRadius</key>
		<real>250.0</real>
		<key>SKURegionsServiceWhitelist</key>
		<array>
			<string>CH</string>
			<string>ZA</string>
			<string>ZP</string>
		</array>
		<key>SPRForMapSnapshots</key>
		<true/>
		<key>ShareETANavigationBannerDismissInterval</key>
		<integer>15</integer>
		<key>ShareETASupportedReceivedTransportMask</key>
		<integer>6</integer>
		<key>ShouldCarPlayAccessoriesModifyMapInsets</key>
		<true/>
		<key>SpokenGuidanceVolume</key>
		<real>0.9</real>
		<key>StarkEnableMaps357</key>
		<true/>
		<key>TLSSessionTicketsEnabled</key>
		<true/>
		<key>ThresholdForPromptingHomeWorkChangeAddressDialogInMeters</key>
		<real>500.0</real>
		<key>ThresholdForSubmittingHomeWorkRAPInMeters</key>
		<real>7.0</real>
		<key>ThrottlePolicy</key>
		<dict>
			<key>app:com.apple.findmy</key>
			<dict>
				<key>0x20304</key>
				<dict>
					<key>short</key>
					<dict>
						<key>AllowedRequests</key>
						<integer>100</integer>
						<key>ResetInterval</key>
						<integer>60</integer>
					</dict>
				</dict>
			</dict>
			<key>app:com.apple.peopled</key>
			<dict>
				<key>0x20304</key>
				<dict>
					<key>long</key>
					<dict>
						<key>AllowedRequests</key>
						<integer>25</integer>
						<key>ResetInterval</key>
						<integer>600</integer>
					</dict>
					<key>short</key>
					<dict>
						<key>AllowedRequests</key>
						<integer>5</integer>
						<key>ResetInterval</key>
						<integer>60</integer>
					</dict>
				</dict>
			</dict>
			<key>app:com.apple.weather</key>
			<dict>
				<key>0x20301</key>
				<dict>
					<key>comment</key>
					<string>weather widget location lookup</string>
					<key>short</key>
					<dict>
						<key>AllowedRequests</key>
						<integer>200</integer>
						<key>ResetInterval</key>
						<integer>60</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>ThrottlePolicy.0x1000a</key>
		<dict>
			<key>AllowedRequestsPerResetInterval</key>
			<integer>100</integer>
			<key>ResetInterval</key>
			<integer>60</integer>
		</dict>
		<key>ThrottlePolicy.0x20309</key>
		<dict>
			<key>AllowedRequestsPerResetInterval</key>
			<integer>100</integer>
			<key>ResetInterval</key>
			<integer>60</integer>
		</dict>
		<key>TileNetworkEventDropRate</key>
		<real>0.0</real>
		<key>TileRequestsIncludeOSVersionHeader</key>
		<false/>
		<key>TransitDatePickerHorizonDuration</key>
		<integer>1209600</integer>
		<key>VLFSessionHomeWorkMonitorEnabled</key>
		<true/>
		<key>VLFSessionHomeWorkMonitorHomeCheckEnabled</key>
		<true/>
		<key>VLFSessionHomeWorkMonitorWorkCheckEnabled</key>
		<false/>
		<key>VLFSessionLocationSignalEnvironmentAllowFoliage</key>
		<false/>
		<key>VLFSessionLocationSignalEnvironmentAllowRural</key>
		<false/>
		<key>VLFSessionLocationSignalEnvironmentAllowUrban</key>
		<false/>
		<key>VLFSessionLocationSignalEnvironmentMonitorEnabled</key>
		<true/>
		<key>WiFiQualitySmallSearchRadiusMeters</key>
		<real>2000.0</real>
		<key>WifiQualitySearchRadiusMeters</key>
		<real>10000.0</real>
		<key>WifiQualitySearchZoom</key>
		<integer>13</integer>
		<key>https://gsp-ssl.ls.apple.com/directions.arpc|44</key>
		<string>50|60</string>
		<key>https://gsp-ssl.ls.apple.com/search.arpc|43</key>
		<string>50|60</string>
		<key>iPUPEnabled</key>
		<true/>
	</dict>
</dict>
</plist>
