[submodule "src/ENV"]
	path = src/ENV
	url = https://github.com/NanoCat-Me/ENV.git
[submodule "src/URL"]
	path = src/URL
	url = https://github.com/NanoCat-Me/URL.git
[submodule "src/XML"]
	path = src/XML
	url = https://github.com/NanoCat-Me/XML.git
[submodule "src/pako"]
	path = src/pako
	url = https://github.com/nodeca/pako.git
