#!name= iRingo: 🌤 WeatherKit
#!desc=iOS 18 & macOS 15 & watchOS 11\n1.解锁全部天气功能\n2.替换空气质量数据\n3.添加下一小时降水数据
#!openUrl=http://boxjs.com/#/app/iRingo.WeatherKit
#!author=Virgil Clyne & Wordless Echo
#!homepage=https://github.com/VirgilClyne/iRingo/wiki
#!manual=https://github.com/VirgilClyne/iRingo/wiki/🌤-天气服务
#!icon=https://developer.apple.com/assets/elements/icons/weatherkit/weatherkit-96x96_2x.png
#!category= iRingo

#[rewrite_local]
# 🌤 WeatherKit.api.v1.availability.response
^https?:\/\/weatherkit\.apple\.com\/api\/v1\/availability\/ url script-response-body https://raw.githubusercontent.com/VirgilClyne/iRingo/main/js/WeatherKit.response.js
# 🌤 WeatherKit.api.v2.weather.response
^https?:\/\/weatherkit\.apple\.com\/api\/v2\/weather\/ url script-response-body https://raw.githubusercontent.com/VirgilClyne/iRingo/main/js/WeatherKit.response.js
# 🌤 Weather Analytics
^https?:\/\/weather-analytics-events\.apple\.com\/ url reject

#[mitm]
hostname = weatherkit.apple.com, weather-analytics-events.apple.com
